.Button {
  background: none;
  border: none;
  color: navy;
  cursor: pointer;
}

.Button:hover {
  text-decoration: underline;
}

.Button:disabled {
  color: gray;
  text-decoration: none;
  cursor: default;
}

.Button-danger {
  color: red;
}